*.m4
/compile
*.guess
/config.h
*.in
*.log
*.status
*.sub
/configure
/depcomp
/install-sh
/libtool
/Makefile
/missing
*.vpj
*.vpw
*.vpwhistu
*.vtg
/stamp-h1
src/.libs/*
src/.deps/*
examples/.deps/*
autom4te.cache/*

/test-driver
